body{
    margin: auto;
    width: 70%;
    /* align-items: center; */
    /* justify-content: space-between; */  
}

@media screen and (max-width:1285px){
.table{
    width: 50%;
    float: left;
    margin-bottom: 20px;
}    
}
@media screen and (min-width:656px) {
    div{
        width: 100%;
        display: grid;
        grid-template-columns: auto auto ;
        gap: 50px;
    }
}
table,tr,td,th{
    border: 1px solid;
    border-collapse: collapse;
}
.form{
    border: none;
}
